body { 
    margin: 0; 
    font-family: "Roboto Flex", sans-serif;
    background: #ffffff; 
    overflow-x: hidden; 
    align-items: center;
    justify-content: center;
    position: relative;
}
    
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    max-width: 850px; 
    margin: 0 auto;
    padding: 1vh;
    box-sizing: border-box;
}
   
/* #introScreen {
    text-align: left; 
    text-indent: 1.5vw;
} */

#start {
    margin-top: 5vh;
}

p {
    text-indent: 1.5vw;
}
    
.screen { 
    display: none; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 900px; 
    min-width: 850px;
    text-align: left; 
    padding: 1vh; 
    position: relative; 
}
    
.active { 
    display: flex; 
}
    
button { 
    margin-top: 2vh; 
    padding: .5vw 1vh; 
    font-size: clamp(12px, 2vw, 18px); border: none; 
    background: #4CAF50; 
    color: white; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: #45a049 0.3s;
    text-indent: 0vw;
}
    
button:hover { 
    background: #45a049; 
}

.card-grid {
    display: grid;
    max-width: 400px;
    grid-template-columns: repeat(auto-fit, minmax(70px, 3fr)); 
    gap: 1.5vh;
    margin-top: 2vh;
    width: 100%;
}
    

.card { 
    width: clamp(50px, 8vh, 100px); 
    height: clamp(50px, 8vh, 100px); 
    background: #f7fff3; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 16px; 
    cursor: pointer; 
    user-select: none; 
    transition: transform 0.3s; 
    text-align: center;
    word-break: break-word;
    text-indent: 0vw;
}

  

.hidden { 
    background: #4CAF50; 
    color: transparent; 
}

.eyes-screen, .stressTask { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
    min-height: 100vh; 
    width: 100%; 
}

.eye-container { 
    display: flex; 
    gap: 40px; 
    position: absolute; 
    justify-content: center;
    top: 10%; 
    left: 50%; 
    transform: translateX(-50%); 
    flex-wrap: nowrap;
}


.eye {
    width: 60px;
    height: 60px;
    background: white;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    animation: blink 3s infinite;
}


@media (max-width: 600px) {
    .eye {
        width: 50px;
        height: 50px;
    }
}

.pupil { 
    width: 20px; 
    height: 20px; 
    background: black; 
    border-radius: 50%; 
    position: relative; 
    top: clamp(5px, 2vh, 50px); 
    left: clamp(5px, 2vh, 50px); 
}
    
@keyframes blink {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

#distractionContainer {
    position: absolute;
    padding: 5%;
    bottom: 15%;
    text-align: center; 
    width: 200px;
    display: none;
    text-size: clamp(10px, 2vw, 14px)
    color: darkred;
    align-items: center;
    justify-content: center;
}

#fakeHeart {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(25px, 5vw, 80px);
    color: red;
    display: none;
}

h2 {
    font-size: clamp(15px, 1.5em, 25px)
}

h1 {
    font-size: clamp(18px, 2em, 30px)
}


